@model List<CatalogoApp.Domain.Models.Item>

<div class="text-center mb-4">
    <h1>Catalogo</h1>
</div>

<div class="text-center mb-4">
    <a asp-action="Index" class="btn-gamer btn-sm mx-1 mb-2">All</a>
    @if (ViewBag.Generos != null)
    {
        foreach (var gen in ViewBag.Generos as List<string>)
        {
            <a asp-action="Index" asp-route-genero="@gen" class="btn-gamer btn-sm mx-1 mb-2">@gen</a>
        }
    }
</div>

<div class="text-center">
    <hr style="border-color: #5e35b1; width: 60%; margin: 0 auto 2rem auto;" />
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card-gamer h-100 p-3">
                <div class="card-body text-center d-flex flex-column">
                    <h4 class="card-title">@item.Titulo</h4>
                    <h6 class="card-subtitle mb-3 text-purple-light">@item.Genero</h6>

                    <p class="card-text mb-1">Consola: <strong>@item.Consola</strong></p>
                    <p class="card-text mb-3">Lanzamiento: <strong>@item.Ano</strong></p>


                    <div class="mt-auto">
                        <a asp-action="Detalle" asp-route-id="@item.Id" class="btn-gamer btn-sm w-100">
                            View Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="text-center mt-5 mb-5">
    <a asp-action="Agregar" class="btn-gamer">+ Add videogame</a>
</div>

</div>
